src/clips.zip
src/clips/
src/dataset/
src/training_results/
*.pyc
src/checkpoints/
src/dataset_mat/

src/masks/xinyuan_mask_cat4.mat
src/masks/xinyuan_mask.mat
src/masks/mask_spix4_nucmas(512,512,8).mat
src/implicit_results/
src/masks/mask_spix8_nucmas(256,256,8).mat
